*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ddd;
}

#banner{
    width: 120px;
    height: 150px;
    align-items: center;
    padding: 10px;
}

.menu ul li{
    display: inline;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a:link{
    text-decoration: none;
}

a:visited{
    color: blue;
}

a:active{
    color: aquamarine;
}

#tabela-1{
    background-color: #cababa;
    height: 50px;
    margin-top: 30px;
    margin-left: 18%;
    margin-right: 18%;
    display: flex;
    justify-content: space-between;
}

.logo{
    color: white;
    margin-left: 20px;
    font-size: 40px;
}

#button{
    color: black;
    margin-top: 14px;
    margin-right: 30px;
    height: 24px;
    width: 78px;
    text-align: center;
    justify-content: center;
    background-color: gold;
}

.product{
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
    width: 64%;
    background-color: white;
}

.image{
    width: 100px;
    height: 100px;
    padding-right: -200px;
    margin-top: 20px;
}

tr > th{
    border-bottom: 1px solid red;
}

tr > td{
    border-bottom: 1px solid red;
}

.submite{
    border-top: 1px solid red;
}


.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    max-height: 100vh;
    padding: 20px;
    background: pink;
    box-shadow: -2px 0 -4px hsl(0, 4%, 15%/ 10%);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart.active{
    right: 0;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.titulo{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #cababa;
}

.titulo-total{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}

.total-price{
    font-size: 1.075rem;
    margin: 1rem 0 0 0.7rem;
}

.btn{
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    width: 50%;
    text-align: center;
    border: none;
    border-radius: 2rem;
    background: green;
    color: white;
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}

#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.cart-box{
    display: flex;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
    padding: 10px;
}

.detailes-box{
    display: grid;
    row-gap: 0.5rem;
}

.cart-produto-titulo{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.cart-price{
    font-weight: 500;
}

.cart-quantidade{
    border: 1px solid #eee;
    outline-color: #ddd;
    width: 2.8rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
}

.cart-remove{
    font-size: 24px;
    color: red;
    cursor: pointer;
}

.add-cart{
    position:relative;
    background: greenyellow;
    color: black;
    font-size: 2.6rem;
    border-radius: 50%;
    cursor: pointer;
}

.add-cart:hover{
    background: red;
}